:root {
    --main: rgb(240, 136, 80);
    --main-transparent: rgba(240,136,80,0.4);
    --sub: rgb(150,112,91);
    --text-color: white;
    --text-secondary: #AB8476;
    --background: rgb(26,20,35);
    --background-medium: rgb(61,49,74);
    --background-light: rgb(104,71,86);
    --background-transparent: linear-gradient(to right, rgba(104,71,86,0.1), rgba(61,49,74,0.2));
    --border-radius: 16px;
    --border-color: rgba(255, 255, 255, 0.1);
    --font-big: "Bebas Neue", sans-serif;
    --font-regular: "Open Sans", sans-serif;
    --success: #54d52c;
    --danger: #e7423a;
}
html {
    scroll-behavior: smooth;
}

.fade-in-lazy {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease, transform .6s ease;
}

.visible-lazy {
    opacity: 1;
    transform: translateY(0);
}
h1 {
    font-family: var(--font-big);
}
a {
    color: var(--main);
    text-decoration: none;
    transition: color .3s ease-in-out
}
svg {
    overflow: visible;
}
a:hover {
    color: var(--sub)
}
.alert {
    border-radius: var(--border-radius);
    transition: opacity .3s ease-in-out;
}
.alert-success {
    border: none;
    background: var(--success);
    color: var(--text-color);
}
.alert-danger {
    border: none;
    background: var(--danger);
    color: var(--text-color)
}
body {
    background: var(--background);
    color: var(--text-color);
    font-family: 'Outfit', sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.clouds-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.cloud-animation {
    position: fixed;
    top: 30%;
    left: 0;
    height: auto;
    transform-origin: center;
    opacity: 0.7;
    animation: cloudMovement 30s infinite ease-in-out;
}

@keyframes cloudMovement {
    0% {
        transform: translateX(-5%) translateY(0);
    }

    25% {
        transform: translateX(20%) translateY(-10%);
    }

    50% {
        transform: translateX(90%) translateY(20%);
    }

    75% {
        transform: translateX(40%) translateY(-15%);
    }

    100% {
        transform: translateX(-5%) translateY(0);
    }
}

.cloud1 {
    top: -10%;
    animation-duration: 30s;
    animation-delay: 0s;
}

.cloud2 {
    right: 0;
    top: 50%;
    animation-duration: 35s;
    animation-delay: -5s;
}

.cloud3 {
    bottom: 0;
    left: 10%;
    animation-duration: 40s;
    animation-delay: -10s;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.card {
    border-radius: var(--border-radius);
    background: var(--background-medium);
    backdrop-filter: blur(3px);
    color: var(--text-color);
}
.card-header,
.card-footer {
    border: none;
    background: transparent !important;
}

h5 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 4px;
    font-weight: 200;
}

.btn-primary,
.btn-primary:hover {
    background: linear-gradient(45deg, var(--main), var(--sub));
    background-size: 400%;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    outline: none;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    animation: gradientAnimation 4s ease infinite;
    transition: transform .4s ease-in-out;
}

.btn-primary:hover {
    transform: translateY(-0.5rem);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media(min-width: 992px) {
    p {
        font-size: 1.1rem;
    }
}