---
import Card from "./Card.astro";

const stuff = [
  {
    label: "Customer Service",
    img: "https://logometrica.se/wp-content/uploads/2024/06/placeholder-2.png",
    description: "6 years experience of building and maintaining customer relations.",
  },
  {
    label: "Amina Smakar",
    img: "https://logometrica.se/wp-content/uploads/2024/06/placeholder-2.png", 
    description: "Back in 2022, I created a portfolio for my friends catering firm.",
  },
];
---

<div class="carousel owl-carousel mt-5 pt-5 container-fluid mx-0 px-0">
  {stuff.map((card) => (
    <Card {...card} />
  ))}
</div>

<style>
    .carousel {
        width: 100%;
    }
</style>
<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      $(".owl-carousel").owlCarousel({
        loop: true, 
        margin: 24,
        nav: true, 
        autoplay: true, 
        autoplayTimeout: 2000, 
        autoplayHoverPause: true,
        autoplaySpeed: 1000, 
        smartSpeed: 1000,
        responsive: {
          0: {
            items: 2.3, 
          },
          600: {
            items: 3.8, 
          },
          1000: {
            items: 5.8, 
          },
        },
      });
    });
  </script>