---
import Experience from "./Experience.astro";
import Carousel from "./Carousel.astro";
---

<section class="container py-3 py-lg-5">
    <div class="row">
        <Experience />
    </div>
</section>
<Carousel />