m---
const { stack } = Astro.props;
---

<section class="stack container-fluid px-0 mx-0 h-100 d-flex align-items-center">
    <div class="row g-2 row-cols-6 row-cols-md-5 row-cols-lg-6 flex-center">
        {
            stack &&
                stack.map((item) => (
                    <div class="col flex-center">
                        <img
                            id={item.id + "-image"}
                            src={item.url}
                            alt={item.category}
                            class="stack-image"
                            data-category={item.category}
                        />
                    </div>
                ))
        }
    </div>
</section>

<style>
    .stack-image {
        max-height: 80%;
        max-width: 100%;
        max-height: 60px;
        opacity: 0.4;
        transition: opacity 0.3s ease-in-out, transform 0.1s ease-in-out;
        position: relative;
    }
</style>

