---
    let stack = [
        {
            label: 'HTML',
            color: '',
            icon: ''
        },
        {
            label: 'CSS',
            color: '',
            icon: ''
        },
        {
            label: 'PHP',
            color: '',
            icon: ''
        },
        {
            label: 'JavaScript',
            color: '',
            icon: ''
        },
        {
            label: 'Svelte',
            color: '',
            icon: ''
        },
        {
            label: 'Astro',
            color: '',
            icon: ''
        },
        {
            label: 'React',
            color: '',
            icon: ''
        },
        {
            label: 'Photoshop',
            color: '',
            icon: ''
        },
        {
            label: 'Figma',
            color: '',
            icon: ''
        },
        {
            label: 'Github',
            color: '',
            icon: ''
        },
        {
            label: 'Drupal',
            color: '',
            icon: ''
        },
        {
            label: 'Bootstrap',
            color: '',
            icon: ''
        }
    ]
---
<div class="card">
    <div class="card-header">
        <h5>Tool Stack</h5>
    </div>
    <div class="card-body">
        <ul class="d-flex flex-wrap">
            {stack && stack.map(tool => 
                <li class="icon-wrapper" style=`background: ${tool.color};`>
                    <img src={tool.icon} alt={tool.label} class="tool h-100 w-100 p-1" />
                </li>
            )}
        </ul>
    </div>
</div>

<style>
    .icon-wrapper {
        height: 50px;
        border-radius: 8px;
        width: 50px;

    }
    ul {
        gap: 0.25rem;
    }
</style>