---
    import { Donut } from 'lucide-svelte';
    let nav = [
        {
            label: "About",
            url: "#about"
        },
        {
            label: "Contact",
            url: "#contact"
        },
        {
            label: "Resume",
            url: "#resume"
        },
        {
            label: "Portfolio",
            url: "#portfolio"
        }
    ];
---

<header class="container-fluid">
    <div class="row d-flex align-items-center h-100">
        <div class="col-2">
            <Donut size="35" />
        </div>
    </div>
</header>

<style>
    header {
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 70px;
        z-index: 100;
    }
</style>