---
    let information = [
        {
            label: 'Gender',
            value: 'Female',
            icon: ''
        },
        {
            label: 'Birthday',
            value: 'October 23, 1998',
            icon: ''
        },
        {
            label: 'Located in',
            value: 'Gavle, Sweden',
            icon: ''
        },
        {
            label: 'Music Genre',
            value: 'Metal, pop-punk',
            icon: ''
        },
        {
            label: 'Hobbies',
            value: 'Travel, tattoos',
            icon: ''
        },
        {
            label: 'Favourite food',
            value: 'Asian food',
            icon: ''
        }
    ]
---

<section>
    <div class="parallax-image" style="background-image: url('https://wallpaperswide.com/download/high_quality-wallpaper-3840x2400.jpg'); background-attachment: fixed; background-size: cover; background-position: center;">
    </div>
    <div class="container py-3 py-lg-5">
        <div class="row">
            <div class="col-12 mb-2 mb-md-3 mb-xl-5">
                <h2 class="text-center">ABOUT ME</h2>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card gradient-border">
                    <div class="card-header">
                        <h5>Overview</h5>
                    </div>
                    <div class="card-body pt-0">
                        <ul>
                            {information && information.map(info => 
                                <li class="d-flex justify-content-between py-1 py-md-2 info-item">
                                    <span class="label">{info.label}</span>
                                    <span class="value text-end">{info.value}</span>
                                </li>
                            )}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 offset-xl-1">
                <!-- TODO: some cool animation with images -->
            </div>
        </div>
    </div>
</section>
<style>
    .parallax-image {
        height: 500px;
        width: 100%;
    }
    .label {
        font-size: 0.8rem;
    }
    .value {
        font-weight: 500;
    }
    li {
        border-bottom: 1px solid var(--border-color);
    }
    li:last-child {
        border: none;
    }
    .info-item {
        gap: 0.5rem;
    }
</style>