---

---

<section>
    <div class="parallax-image" style="background-image: url('https://t4.ftcdn.net/jpg/07/82/78/21/360_F_782782160_MjC40IEiwntmWYwZXVvpAsoLIOJb7R6R.jpg'); background-attachment: fixed; background-size: cover; background-position: center;">
    </div>
    <div class="container-fluid">

    </div>
</section>
<style>
    .parallax-image {
        height: 500px;
        width: 100%;
    }
</style>