---
import Form from "../components/contact/Form.astro";
import Hero from "../components/index/Hero.astro";
import Resume from "../components/resume/Resume.astro";
import Layout from "../layouts/Layout.astro";
---

<head>
	<title>Malin Schoening</title>
</head>

<Layout>
	<Hero />
	<Resume />
	<div class="py-md-4 py-lg-5"></div>
	<Form />
</Layout>
<script type="module" src="/js/lazyload.js" is:inline></script>
