---
    const { image } = Astro.props;
---

<div class="card p-0 overflow-hidden">
    <img src={image} alt="" class="h-100 w-100" />
</div>

<style>
    .card {
        height: auto;
    }
    img {
        object-fit: cover;
    }
</style>