---

---

<!-- TODO: CTA button with "Lets work together." and a button to mail me  -->
<div class="contact-section">
    <div class="container-fluid py-3 py-md-4 py-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">Lets keep in touch.</h2>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tempore ab optio impedit totam earum placeat provident blanditiis at doloremque!</p>
                </div>
                <div class="col-12 flex-center">
                    <a href="mailto:malin.schoening@gmail.com" class="btn btn-primary">
                        Contact me
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .btn {
        max-width: 400px;
        width: 100%;
    }
</style>